html{overflow: hidden;}
*{margin:0;padding:0}
a , a:hover{text-decoration: none;}
img{vertical-align: top;}
a[href="http://www.51.la/?17312748"]{display: none}
body {
    min-width: 320px;
    font-size: 1em;
    font-family: microsoft Yahei,Verdana,Arial,Helvetica,sans-serif;
    color: #333;
    -webkit-text-size-adjust: none;
}

/*header{margin:2em auto 3em;}*/
h1{text-align: center;}
table {width:90%;border:none;margin:0;padding:0;border-spacing: 3px;}
.hide{display: none;}

.btn_container{width: 100%;position: absolute;bottom: 13%;height:41px;}
img.bg{width: 100%;height: 100%;position: absolute;z-index: -1;}
/** index **/
.index{width: 100%;height: 100%;position: absolute;z-index: -1;}
.btn{width: 145px;height: 41px;display: block;margin: 0 auto;}
.btn img{width: 100%;height: 100%;}
/** game page **/
.main{
    width: 100%;
    height: 100%;
}

.main header{padding-top: 10px;}
.main header label{float:left;}
#time{display: block;background-color:#828dd7;color: #fff;width: 47px;height: 37px;line-height:37px;text-align:center;margin:0 auto;border-radius: 9px;-webkit-border-radius: 9px;-moz-border-radius: 9px;}

.gc{margin: 2em auto;width: 90%;}
.gc td{ border: 2px solid #000; }

header label{margin-left: 20px;color: #f385d0;font-size: 1em;}
.box{
    padding: 5px;
    display: inline-block;
    border:1px solid #e08989;
    width: 100px;
    background: #ffdfdf;
}

.red{color: #f00;font-weight: bolder;}

#gameArea{
    border:none;
    margin:auto;
}

td img{
    padding: 0;
    margin: 0;
}

#showBox{
    position:  absolute;
    display: none;
}

#showBox img{width: 100%;}

/**  end  **/
.bd{font-size: 18px;font-weight: bold;}
.wrap{width: 320px;height: 480px;margin: 0 auto;font-size: 1em;color: #fff;}
.wrap header,
.wrap p{margin: 0 auto;width: 90%;position: relative;padding-top: 20px;}
.wrap header{height: 25%;}
.wrap p{height: 90px;width: 85%;}
.wrap header img{width: 100%;position: absolute;z-index:-1;}
.wrap p label{color: #ff72ae;}

.art1{position: absolute;z-index: 10;left: 130px;top: 35px;}
.art1 span{display: block;margin-bottom: 3px;}
#title{color: #ffe400;}

#giftTime{color: #888;}
.adContainer{padding: 0;margin: -1em auto 0;width: 90%;display:none;}
.adContainer a{display: block;width: 100%;height: 30%;}
.adContainer a img{width: 100%;}
/*table.r50 img{*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*#gameArea td{*/
    /*width : 50px;*/
    /*height: 50px;*/
/*}*/

/*#gameArea td.right img{*/
    /*background: url("images/2.jpg") repeat;*/
/*}*/